.good{
  transform: translateX(-100px)!important;
}
.up{
  transform: translate(110px,-38px)!important;
  
}
.navbar{
  background-color: #fff;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}

/* .img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
img, svg {
  vertical-align: right;
}
img {
  border-style: none;
} */